@charset "utf-8";
/* --------------------------------------------------------
	reset.css
-------------------------------------------------------- */
html,body,div,header,footer,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
p,a,i,
table,tbody,th,td,
pre,form,fieldset,input,textarea,blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	line-height: 1.5;
	color: #505050;
	font-style: normal;
	font-weight: normal;
	}
ul,li,a{
	text-decoration: none;
	}
ol,ul {
	list-style: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	img, button{
		border: none;
		/* 画像下部空き削除 */
		vertical-align:top;
		width: 100%;
		height: auto;
		}
	
	*,
	*::before,
	*::after {
			box-sizing: border-box;
		}


	/*フェードインアニメーション要素のスタイル*/
	.animate{
		opacity : 0;
		visibility: hidden;
		transition: 1s;
		transform: translateY(40vh);
	}

	/*フェードインアニメーション要素までスクロールした時のスタイル*/
	.active{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

/* --------------------
pc sp 画像 切り替え PC
-------------------- */
/* index.html スライダー */
.pc_img { 
	display: block !important; 
}

.sp_img { 
	display: none !important; 
}

/* index.html グリーンライン */
.pcbg_carousel{
	display: block !important; 
}

.spbg_carousel { 
	display: none !important; 
}

/* index.html お客様の声 */
.pc_voiceimg{
	display: block !important; 
}

.sp_voiceimg{
	display: none !important; 
}


/* about.html グリーンライン */
.mainview_wrap .pcbg_mainview{
	display: block !important; 
}

.mainview_wrap .spbg_mainview{
	display: none !important; 
}